body{
    text-align: center;
    background-image: url("../assets/backgroundCrown.jpg");
    background-size: cover;
}

.container{
    margin-top: 100px;
    background: linear-gradient(#fcdd49, #f7d636, #f7d100, #e4b600);
    border: solid white 3px;
    border-radius: 10px;
    padding: 20px 0;
}